<div class="col">
  <% if current_url?('/posts/') %>
    <div class="card postcards ml-5">
    <% else %>
      <div class="card postcards ml-5" style="cursor: pointer;" onclick="cardClick('<%= post_path(post) %>')" >
      <%end%>
      <% if post.images.attached? %>
        <% post.images.each do |image| %>
          <div >
            <%= image_tag image, :style => "height:17vh; width: 100%"%>
          </br>
        </div>
      <%end%>
    <%end%>
    <hr>
    <div class="card-body overflow-y-auto scrollbar" style="height: 18vh; overflow: hidden;text-overflow: ellipsis; ">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.content %></p>
    </div>
  </div>
</div>
