<h1>Editing post</h1>
<%= render "form", post: @post %>
<br>
<div>
  <%= link_to t("post.show_this_post"), @post %> |
  <%= link_to t("post.back_to_post"), root_path %>|
  <%if current_user.admin?%>
    <%= link_to t("post.admin_panel"),admin_path %>
  <%end%>
</div>
