<div id="posts" class="text-center">
  <%= link_to "Add",posts_apply_path,class: "mt-4 justify-content-center btn btn-primary ms-auto" %>
  <div class="row row-cols-1 row-cols-md-4 g-4 mt-4">
    <% @posts.each do |post| %>
      <% if post.approved != false %>
        <%= render post %>
      <% end %>
    <% end %>
  </div>
</div>
